<%= form_tag "/restaurants/#{@restaurant.id}", method: 'patch' do %>

  <p>
    <%= label_tag "name" %>
    <%= text_field_tag "name" %>
  </p>

  <p>
    <%= label_tag "tables in total" %>
    <%= text_field_tag "table_number" %>
  </p>

  <p>
      <%= submit_tag %>
  </p>

<% end %>
