

<h3>Restaurant #<%= @restaurant.name %></h3>

<p class="pull-right">
  <%= link_to "Book This Restaurant", "/reservations?restaurant_id=#{@restaurant.id}", method: 'post', class: 'button' %>
</p>

<p><strong>Name:</strong> <%= @restaurant.name %> </p>
<p><strong>Address: </strong> <%=  %></p>
<p><strong>Style:</strong> <%=  %></p>
<p><strong>Table in total:</strong> <%= @restaurant.table_number %></p>


<!-- <ol> -->
  <% @restaurant.timesegments.each do |time| %>
    <li><%= time.time %>:00 <% time.customers.each do |customer| %></li>
    						<%=  customer.name%>
    						<% end %>
  <% end %>
<!-- </ol> -->